/* font-family: "AleksandraCRegular"; */
@font-face {
    font-family: "AleksandraCRegular";
    src: url("fonts/AleksandraCRegular/AleksandraCRegular.eot");
    src: url("fonts/AleksandraCRegular/AleksandraCRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/AleksandraCRegular/AleksandraCRegular.woff") format("woff"),
    url("fonts/AleksandraCRegular/AleksandraCRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AeroMaticsBold"; */
@font-face {
    font-family: "AeroMaticsBold";
    src: url("fonts/AeroMaticsBold/AeroMaticsBold.eot");
    src: url("fonts/AeroMaticsBold/AeroMaticsBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/AeroMaticsBold/AeroMaticsBold.woff") format("woff"),
    url("fonts/AeroMaticsBold/AeroMaticsBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AeroMaticsBoldItalic"; */
@font-face {
    font-family: "AeroMaticsBoldItalic";
    src: url("fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.eot");
    src: url("fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.woff") format("woff"),
    url("fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AeroMaticsItalic"; */
@font-face {
    font-family: "AeroMaticsItalic";
    src: url("fonts/AeroMaticsItalic/AeroMaticsItalic.eot");
    src: url("fonts/AeroMaticsItalic/AeroMaticsItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/AeroMaticsItalic/AeroMaticsItalic.woff") format("woff"),
    url("fonts/AeroMaticsItalic/AeroMaticsItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/* font-family: "BenderRegular"; */
@font-face {
    font-family: "BenderRegular";
    src: url("fonts/BenderRegular/BenderRegular.eot");
    src: url("fonts/BenderRegular/BenderRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/BenderRegular/BenderRegular.woff") format("woff"),
    url("fonts/BenderRegular/BenderRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBold"; */
@font-face {
    font-family: "BenderBold";
    src: url("fonts/BenderBold/BenderBold.eot");
    src: url("fonts/BenderBold/BenderBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/BenderBold/BenderBold.woff") format("woff"),
    url("fonts/BenderBold/BenderBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderItalic"; */
@font-face {
    font-family: "BenderItalic";
    src: url("fonts/BenderItalic/BenderItalic.eot");
    src: url("fonts/BenderItalic/BenderItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/BenderItalic/BenderItalic.woff") format("woff"),
    url("fonts/BenderItalic/BenderItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBoldItalic"; */
@font-face {
    font-family: "BenderBoldItalic";
    src: url("fonts/BenderBoldItalic/BenderBoldItalic.eot");
    src: url("fonts/BenderBoldItalic/BenderBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/BenderBoldItalic/BenderBoldItalic.woff") format("woff"),
    url("fonts/BenderBoldItalic/BenderBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlack"; */
@font-face {
    font-family: "BenderBlack";
    src: url("fonts/BenderBlack/BenderBlack.eot");
    src: url("fonts/BenderBlack/BenderBlack.eot?#iefix")format("embedded-opentype"),
    url("fonts/BenderBlack/BenderBlack.woff") format("woff"),
    url("fonts/BenderBlack/BenderBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlackItalic"; */
@font-face {
    font-family: "BenderBlackItalic";
    src: url("fonts/BenderBlackItalic/BenderBlackItalic.eot");
    src: url("fonts/BenderBlackItalic/BenderBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/BenderBlackItalic/BenderBlackItalic.woff") format("woff"),
    url("fonts/BenderBlackItalic/BenderBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLight"; */
@font-face {
    font-family: "BenderLight";
    src: url("fonts/BenderLight/BenderLight.eot");
    src: url("fonts/BenderLight/BenderLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/BenderLight/BenderLight.woff") format("woff"),
    url("fonts/BenderLight/BenderLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLightItalic"; */
@font-face {
    font-family: "BenderLightItalic";
    src: url("fonts/BenderLightItalic/BenderLightItalic.eot");
    src: url("fonts/BenderLightItalic/BenderLightItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/BenderLightItalic/BenderLightItalic.woff") format("woff"),
    url("fonts/BenderLightItalic/BenderLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "JuraRegular"; */
@font-face {
    font-family: "JuraRegular";
    src: url("fonts/JuraRegular/JuraRegular.eot");
    src: url("fonts/JuraRegular/JuraRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/JuraRegular/JuraRegular.woff") format("woff"),
    url("fonts/JuraRegular/JuraRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "JuraLight"; */
@font-face {
    font-family: "JuraLight";
    src: url("fonts/JuraLight/JuraLight.eot");
    src: url("fonts/JuraLight/JuraLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/JuraLight/JuraLight.woff") format("woff"),
    url("fonts/JuraLight/JuraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "JuraMedium"; */
@font-face {
    font-family: "JuraMedium";
    src: url("fonts/JuraMedium/JuraMedium.eot");
    src: url("fonts/JuraMedium/JuraMedium.eot?#iefix")format("embedded-opentype"),
    url("fonts/JuraMedium/JuraMedium.woff") format("woff"),
    url("fonts/JuraMedium/JuraMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "JuraBold"; */
@font-face {
    font-family: "JuraBold";
    src: url("fonts/JuraBold/JuraBold.eot");
    src: url("fonts/JuraBold/JuraBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/JuraBold/JuraBold.woff") format("woff"),
    url("fonts/JuraBold/JuraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Neouropol";
    src: url("fonts/468751.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "EuropeExt";
    src: url("fonts/europeext_bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
