


.soft_header {
    font-family: "AeroMaticsBold";
    font-size:20px;
    padding: 10px;
    padding-top: 0;
    text-decoration: underline;
}

#item {
    width: 100px;
    padding: 10px;
    
}

.items_nav {
    font-family: "AeroMaticsBold";
    font-size:18px;
    
    max-width: 315px;
}

.items_nav_e {
    max-width: 315px;
}

#home_btn {
    font-family: "AleksandraCRegular"; 
    
    background-color: skyblue;
    font-size: 16px;
    max-width: 315px;
    font-size:15px;
    padding-top:10px;
    padding-bottom: 10px;
}

.item-btn {
    width:100px;
    
}
