


.soft_header {
    font-family: "AeroMaticsBold";
    font-size:18px;
    padding: 10px;
    text-decoration: underline;
}

#item {
    width: 100px;
    padding: 10px;
    
}

.items_nav {
    font-family: "AeroMaticsBold";
    font-size:18px;
    
    max-width: 300px;
}

.items_nav_e {
    max-width: 300px;
}

#home_btn {
    font-family: "AleksandraCRegular"; 
    padding:10px;
    border-radius: 4px;
    background-color: skyblue;
    font-size: 16px;
    max-width: 300px;
    
}
